<!-- 
	Optional elements for <head>, included by default in the "head-custom"
	block of _defaults/baseof.html.

	Include any site-wide customizations to <head> (including any <style>
	overrides, if any) here.

	If you have a page type that needs its own customizations that page
	template can simply define a "head-custom" block and to replace what is
	provided here.
-->
	<script type="text/javascript" src="/js/jquery.js?s"></script>
	<script type="text/javascript" src="/js/haiku-donate.js?s"></script>
	
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">