<section class="section hero is-fullheight" itemscope itemtype="http://schema.org/HomePage">
	<div class="hero-head">
		{{ partial "nav.html" . }}
	</div>
	<div class="hero-body">
		<div class="container">
			<div class="columns">
				<div class="column is-8 is-offset-2 has-text-centered">
					<h1 class="title">{{ partial "logo.html" . }}</h1>
					<h2 class="subtitle">
						Supporting <a href="https://www.haiku-os.org">Haiku's</a> development and infrastructure since 2003.
					</h2>
					<div class="content">
					{{ .Content }}
					</div>
					<br/>
					<div class="columns">
						<div class="column">
							<center>
							<div style='background-image: url(/images/community.jpg); border-radius: 10px; width: 310px; height: 410px; padding: 20px;'></div>
							<!-- https://www.pexels.com/photo/eyeglasses-in-front-of-laptop-computer-1181253/ -->
							<h3 class="subtitle has-text-primary is-marginless">Supporting Development</h3>
							<ul>
							<li><a href="{{ "about/" | absURL}}">Haiku, Inc.'s role<span class="icon">➤</span></a></li>
							</ul>
							</center>
						</div>
						<div class="column">
							<center>
							<!-- https://www.pexels.com/photo/black-and-grey-device-159282/ -->
							<div style='background-image: url(/images/infrastructure.jpg); border-radius: 10px; width: 310px; height: 410px; padding: 20px; box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.8);'>
								{{ partial "donation_tracker.html" . }}
							</div>
							<h3 class="subtitle has-text-primary is-marginless">Funding Infrastructure</h3>
							<ul>
							<li><a href="{{ "documents/donations" | absURL }}">Financial tracking<span class="icon">➤</span></a></li>
							</ul>
							</center>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hero-foot">
{{ partial "footer.html" . }}
	</div>
</section>
