<div style="border: 1px solid #34495e; padding: 16px; background-color: #ecf0f1; width: 530px; margin: 24px auto 24px auto;">
	<b>Amount to Donate:</b> <select id="form-currency"></select>
	<input type="text" id="form-amount"></input>
	<select id="form-occuring"></select>
	<br />
	<div id="form-providers" style="font-size: x-large;"></div>

	<div style="clear: left; font-size: x-large; text-align: center;">
	     <input type="submit" id="form-submit" value="Submit Donation"
	         style="width: 200px; height: 62px;"></input>
	</div>
	<div style="font-size: small;text-align: center;">(<a href="donation-processors.html">Information about donation processors</a>)</div>
</div>
